<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Homework_3_solution.Properties.Settings.emaduabuConnectionString"
            connectionString="Data Source=cdmcoursedb2012.cstcis.cti.depaul.edu;Initial Catalog=emaduabu;Persist Security Info=True;User ID=emaduabu;Password=GumGCpuj88se"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>